body {
   background-color: #3b3b3b;
}

#header {
   width: 100%;
   height: 200px;
}

#headerRow {
   width: 100%;
   height: 200px;
}

#slogan {
   color: white;
   font-size: xx-large;
   height: 200px;
}

#sloganHolder {
   margin-top: 100px;
}

#logo {
   background-image: url("../econome_logo_transparent.png");
   background-repeat: no-repeat;
   background-size: contain;
   height: 200px;
}

#checkRegister {
   color: white;
   margin-bottom: 200px;
   margin-top: 100px;
}

tr:nth-child(even) {
   background-color: rgb(139, 139, 139);
}

td, th {
   border: 1px solid #dddddd;
   text-align: left;
   padding: 10px;
}

#loginDialog {
   background-color: whitesmoke;
   border-radius: 5px;
   height: 100%;
   width: 100%;
}

#dialogHolder {
  width: 50%; 
  margin-top: 100px;
  margin-bottom: 200px;
  height: 300px;
}

#loginDialogRegister, #insertDialog {
   background-color: whitesmoke;
   border-radius: 5px;
   height: 100%;
   width: 100%;
}

#dialogHolderRegister {
  width: 50%; 
  margin-top: 100px;
  margin-bottom: 200px;
  height: 500px;
}

#registerLink, #unameLabel, #unameInput, #passLabel, #passInput, #loginButton, #fnameLabel, #fnameInput,
#lnameLabel, #lnameInput, #incomeLabel, #incomeInput, #loginLink, #loginErr, .insertOption {
   margin-left: 35%;
}
.imageContainer {
   margin-left: 45%;
   height: 60px;
   width: 60px;
   background-image: url('../login_avatar.png');
   background-repeat: no-repeat;
}

#title {
   font-size: xx-large;
   color: whitesmoke;
   text-align: center;
   margin-top: 100px;
}

#loginErr {
   color: red;
}

.deleteRow, .editRow {
   color: black;
}

/* #filterControls {
   background-color: whitesmoke;
   border-radius: 5px; 
} */