body {
   background-color: #3b3b3b;
}

#header {
   width: 100%;
   height: 100px;
}

#headerRow {
   width: 100%;
   height: 100px;
}

#logo {
   background-image: url("../econome_logo_transparent.png");
   background-repeat: no-repeat;
   background-size: contain;
   height: 100px;
}