<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <div id="header" class="container">
    <div id="headerRow" class="row">
      <div id="logo" class="col-lg-4"></div>
      <div id="slogan" class="col-lg-8 text-center"><span id="sloganHolder">Your Financial Goals Can Become Reality</span></div>
    </div>
  </div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">EconoMe</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/dashboard">DashBoard</a></li>
        <li><a href="#">Check Register</a></li>
        <li><a href="#">Goals</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
   <div class="row">
     <div class="col-lg-3"></div>
     <div id="dashControls" class="col-lg-6">
        <button type="button" onclick="loadTransactions()">Load Transactions</button>
        <button type="button" onclick="createInsertDialog()">Insert New Transaction</button>
     </div>
     <div class="col-lg-3"></div>
   </div>
 </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3"></div>
      <div id="checkRegister" class="col-lg-6"></div>
      <div id="filterControls" class="col-lg-3">
        <label for="filterOption">Filter By</label><br>
        <select name="filterOption">
          <option value="date">Date</option>
          <option value="amount">Amount</option>
          <option value="wd_type">Withdrawal/Deposit</option>
          <option value="location">Location</option>
          <option value="category">Category</option>
        </select>
      </div>
    </div>
  </div>
  

  <script>
     function loadTransactions() {
         $('#checkRegister').css('color', 'white')
         $.get('/get_user_info', function (result) {
           if (result.success) {
            var i;
            var txt = '';
            orderNum = 1;
            for (i of result.rows) {
              modifiedDate = new Date(i.trans_date)
              txt += ('<tr><td>' + orderNum + '</td><td>' + modifiedDate.toDateString() + '</td><td>' + i.trans_location + '</td><td>' + i.cat_name + '</td><td>' + i.amount + '</td><td>' + i.mop_type + '</td><td>' + i.entry_desc + '</td><td>' + i.wd_type + '</td><td>' + '<button class="editRow" type="button" entryID="' + i.entry_id + '">Edit</button>' + '<button class="deleteRow" type="button" entryID="' + i.entry_id + '">Delete</button>' + '</td></tr>')
              orderNum++
            }
            $('#checkRegister').html('Here are your transactions: <br>' +
            '<table><tr><th>Transaction #</th><th>Transaction Date</th><th>Transaction Location</th><th>Category</th><th>Amount</th><th>Pay Method</th><th>Description</th><th>Type</th></tr>' + txt + '</table>')
            attachEventHandlers()
          }
           else {
            $('#checkRegister').text(result.msg)
           }
         })
     }

     function attachEventHandlers() {
      $('.editRow').click(function () {
         var entry_id = $(this).attr("entryID")
         alert(entry_id)
     })
     $('.deleteRow').click(function () {
         var entry_id = $(this).attr("entryID")
         alert(entry_id)
     })
    }
       
      

    

    

    

     function createInsertDialog() {
        $('#checkRegister').css('color', 'black')
        $('#checkRegister').html(
           '<div id="insertDialog" method="POST" action="/insert_transaction">' +
           '<label class="insertOption" for="transDate"><b>Transaction Date</b></label><br>' +
           '<input id="transDateInput" class="insertOption" type="date" name="transDate" required><br>' +  
           '<label class="insertOption" for="transLocation"><b>Transaction Location</b></label><br>' +
           '<input id="transLocationInput" class="insertOption" type="text" name="transLocation" required><br>' + 
           '<label class="insertOption" for="category"><b>Category</b></label><br>' +
           '<select id="categoryInput" class="insertOption" name="category">' +
           '<option value="1">Mortgage/Rent</option>' + 
           '<option value="2">Car Payment</option>' +
           '<option value="3">Gas (Car)</option>' + 
           '<option value="4">Car Maintenance</option>' +
           '<option value="5">Groceries</option>' +
           '<option value="6">Restaurants</option>' +
           '<option value="7">Electricity</option>' + 
           '<option value="8">Gas (Home)</option>' +
           '<option value="9">Water</option>' + 
           '<option value="10">Garbage</option>' +  
           '<option value="11">Phone Bill</option>' +
           '<option value="12">Cable/Internet</option>' +
           '<option value="13">Clothing</option>' +
           '<option value="14">Insurance/Healthcare</option>' +
           '<option value="15">Memberships</option>' +
           '<option value="16">Personal</option>' +
           '<option value="17">Debt</option>' +
           '<option value="18">Retirement</option>' +
           '<option value="19">Education</option>' +
           '<option value="20">Savings</option>' +
           '<option value="21">Gifts/Donations</option>' +
           '<option value="21">Entertainment</option>' +
           '</select><br>' +
           '<label class="insertOption" for="amount"><b>Amount</b></label><br>' +
           '<input id="amountInput" class="insertOption" type="number" name="amount" required><br>' +
           '<label class="insertOption" for="payMethod"><b>Payment Method</b></label><br>' +
           '<select id="mopInput" class="insertOption" name="payMethod">' +
           '<option value="1">Cash</option>' +
           '<option value="2">Credit Card</option>' +
           '<option value="3">Debit Card</option>' +
           '<option value="4">Check</option>' +
           '<option value="5">None</option>' +
           '</select><br>' +
           '<label class="insertOption" for="desc"><b>Description</b></label><br>' +
           '<textarea id="descInput" class="insertOption" name="desc" rows="4" cols="45"></textarea>' +
           '<label class="insertOption" for="wd_type"><b>Withdrawal/Deposit</b></label><br>' +
           '<select id="wdInput" class="insertOption" name="wd_type">' +
           '<option value="1">Withdrawal</option>' + 
           '<option value="2">Deposit</option>' +
           '</select><br>' +
           '<button class="insertOption" type="button" onclick="insertTransaction()">Insert</button>' +
           '</div>'
         )
     }

     function insertTransaction() { 
      var transDate = $('#transDateInput').val()
      var transLocation = $('#transLocationInput').val()
      var category = $('#categoryInput').val()
      var amount = $('#amountInput').val()
      var mop = $('#mopInput').val()
      var desc = $('#descInput').val()
      var wd = $('#wdInput').val()

      var params = {
         transDate: transDate,
         transLocation: transLocation,
         category: category,
         amount: amount,
         mop: mop,
         desc: desc,
         wd: wd
      }

      $.post('/insert_transaction', params, function(result) {
         if (result.success) {
            loadTransactions()
         }
         else {
            $('checkRegister').text(result.msg)
         }
      })
     }
     
   //  function getData() {
   //    xmlhttp = new XMLHttpRequest();
   //    xmlhttp.open("GET", "https://enigmatic-crag-16073.herokuapp.com/get_user_info", true);
   //    xmlhttp.onreadystatechange=function(){
   //      if(this.readyState == 4 && this.status == 200){
   //        console.log("successfuly got into callback on ajax")
   //        //document.getElementById("showData").innerHTML = this.responseText
   //        var myObj = JSON.parse(xmlhttp.responseText);
   //        document.getElementById('checkRegister').innerHTML = 
   //        'Here is your user information: <br>' +
   //        '<table><tr><th>First Name</th><th>Last Name</th><th>Transaction Date</th><th>Transaction Location</th><th>Category</th><th>Amount</th><th>Pay Method</th><th>Description</th><th>Type</th></tr>' +
   //        '<tr><td>' + myObj.first_name + '</td>' + '<td>' + myObj.last_name + '</td>' + '<td>' + myObj.trans_date + '</td>' + '<td>' + myObj.trans_location + '</td>' +
   //        '<td>' + myObj.category + '</td>' + '<td>' + myObj.amount + '</td>' + '<td>' + myObj.pay_method + '</td>' + '<td>' + myObj.entry_desc + '</td>' + '<td>' + myObj.wd_type + '</td></tr>'  
   //      }
   //    }
   //    xmlhttp.send()
   //    console.log("leaving getData function")
   //  }
  </script>
</body>
</html>