<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <div id="title">Welcome to EconoMe</div>
  <div class="container" id="dialogHolder">
    <form action="/login" method="POST" id="loginDialog">
      <div class="imageContainer"></div> 
      <br>
      <label id="unameLabel" for="username"><b>Username</b></label><br>
      <input id="unameInput" type="text" placeholder="Enter Username" name="username" required>
      <br>
      <br>
      <label id="passLabel" for="password"><b>Password</b></label><br>
      <input id="passInput" type="password" placeholder="Enter Password" name="password" required>
      <br>
      <br>
      <button id="loginButton" type="submit">Login</button>
      <br>
      <a id="registerLink" href="register.ejs">Create New Account</a>
      <span id="loginErr"></span>
    </form>
  </div>

  <script>
    $(document).ready(function(){
      //login function
      function login() {
        $('#loginErr').text('');
        var username = $('#unameInput').val();
        var password = $('#passInput').val();

        var params = {
          username: username ,
          password: password
        };

        $.post('/login', params, function(result) {
          if (result && result.success) {
            console.log('user logged in')
            window.location = 'https://enigmatic-crag-16073.herokuapp.com/' + result.redirect
          }
          else {
            $('#loginErr').text('There was an error logging in');
          }
        })
      };


      //register function
      function register() {
        $('#loginErr').text('');
        var username = $('#unameInput').val();
        var password = $('#passInput').val();

        var params = {
          username: username ,
          password: password
        };

        $.post('/register', params, function(result) {
          if (result && result.success) {
            console.log('user registered')
            window.location = 'https://enigmatic-crag-16073.herokuapp.com/' + result.redirect
          }
          else {
            $('#loginErr').text('There was an error registering');
          }
        })
      };
    });
  </script>
</body>
</html>