<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  Retrieve User information<button type="button" onclick="getData()">Get Data</button>
  <div id="showData"></div>

  <script>
    function getData() {
      xmlhttp = new XMLHttpRequest();
      xmlhttp.open("GET", "https://enigmatic-crag-16073.herokuapp.com/get_user_info", true);
      xmlhttp.onreadystatechange=function(){
        if(this.readystate == 4 && this.status == 200){
          console.log("successfuly got into callback on ajax")
          document.getElementById("showData").innerHTML = this.responseText
          //var myObj = JSON.parse(xmlhttp.responseText);
        }
      }
      xmlhttp.send()
      console.log("leaving getData function")
    }
  </script>
</body>
</html>