<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <div class="container" id="dialogHolder">
    <form action="" method="GET" id="loginDialog">
      <div class="imageContainer">
        <img src="login_avatar.png" alt="Avatar"> 
      </div>
      <br>
      <br>
      <label id="unameLabel" for="username"><b>Username</b></label><br>
      <input id="unameInput" type="text" placeholder="Enter Username" name="username" required>
      <br>
      <br>
      <label id="passLabel" for="password"><b>Password</b></label><br>
      <input id="passInput" type="password" placeholder="Enter Password" name="password" required>
      <br>
      <br>
      <button id="loginButton" type="submit">Login</button>
    </form>
  </div>

  <script>
    function getData() {
      xmlhttp = new XMLHttpRequest();
      xmlhttp.open("GET", "https://enigmatic-crag-16073.herokuapp.com/get_user_info", true);
      xmlhttp.onreadystatechange=function(){
        if(this.readyState == 4 && this.status == 200){
          console.log("successfuly got into callback on ajax")
          //document.getElementById("showData").innerHTML = this.responseText
          var myObj = JSON.parse(xmlhttp.responseText);
          document.getElementById('checkRegister').innerHTML = 
          'Here is your user information: <br>' +
          '<table><tr><th>First Name</th><th>Last Name</th><th>Transaction Date</th><th>Transaction Location</th><th>Category</th><th>Amount</th><th>Pay Method</th><th>Description</th><th>Type</th></tr>' +
          '<tr><td>' + myObj.first_name + '</td>' + '<td>' + myObj.last_name + '</td>' + '<td>' + myObj.trans_date + '</td>' + '<td>' + myObj.trans_location + '</td>' +
          '<td>' + myObj.category + '</td>' + '<td>' + myObj.amount + '</td>' + '<td>' + myObj.pay_method + '</td>' + '<td>' + myObj.entry_desc + '</td>' + '<td>' + myObj.wd_type + '</td></tr>'  
        }
      }
      xmlhttp.send()
      console.log("leaving getData function")
    }
  </script>
</body>
</html>